<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Bloodpedia">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.Bloodpedia.forget"></activity>
        <activity android:name="com.example.Bloodpedia.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Bloodpedia.AB_neg" />
        <activity android:name="com.example.Bloodpedia.AB_pos" />
        <activity android:name="com.example.Bloodpedia.Oneg" />
        <activity android:name="com.example.Bloodpedia.Opos" />
        <activity android:name="com.example.Bloodpedia.Bneg" />
        <activity android:name="com.example.Bloodpedia.Bpos" />
        <activity android:name="com.example.Bloodpedia.Aneg" />
        <activity android:name="com.example.Bloodpedia.Apos" />
        <activity android:name="com.example.Bloodpedia.reg" />
        <activity android:name="com.example.Bloodpedia.search" />
        <activity android:name="com.example.Bloodpedia.spin" />
        <activity android:name="com.example.Bloodpedia.calculator" />
        <activity android:name="com.example.Bloodpedia.web_view" />
        <activity android:name="com.example.Bloodpedia.list_view" />
        <activity android:name="com.example.Bloodpedia.text" />
        <activity android:name="com.example.Bloodpedia.SMS" />
        <activity android:name="com.example.Bloodpedia.call" />
        <activity android:name="com.example.Bloodpedia.Radio" />
        <activity android:name="com.example.Bloodpedia.registration" />
        <activity android:name="com.example.Bloodpedia.relay"></activity>
        <activity android:name="com.example.Bloodpedia.Sample" />
        <activity android:name="com.example.Bloodpedia.MainActivity" />
    </application>

</manifest>