<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".forget"></activity>
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AB_neg" />
        <activity android:name=".AB_pos" />
        <activity android:name=".Oneg" />
        <activity android:name=".Opos" />
        <activity android:name=".Bneg" />
        <activity android:name=".Bpos" />
        <activity android:name=".Aneg" />
        <activity android:name=".Apos" />
        <activity android:name=".reg" />
        <activity android:name=".search" />
        <activity android:name=".spin" />
        <activity android:name=".calculator" />
        <activity android:name=".web_view" />
        <activity android:name=".list_view" />
        <activity android:name=".text" />
        <activity android:name=".SMS" />
        <activity android:name=".call" />
        <activity android:name=".Radio" />
        <activity android:name=".registration" />
        <activity android:name=".relay"></activity>
        <activity android:name=".Sample" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>